html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding:0;
}

:root {
    --background-dark:rgb(23, 23, 23);
    --background-lightdark: rgb(36, 36, 36);
    --text-blue: #54c0de;
    --text-white: #f8f8f8;
    
}

.wrapper {
    margin: 0 auto;
    max-width:500px;
    margin-top:100px;
    box-shadow: 8px 9px 14px 6px rgba(0,0,0,0.32);
    ;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-dark);
    padding:20px 20px;


}

.logo-area {
    display:flex;
    align-items: center;
}

.header h4 {
    color: var(--text-white);
    font-weight: 600;
}

.logo-area img {
    width:40px;
}

.logo-area h3 {
    padding: 0 10px;
    color: var(--text-blue);
}

.main-content {
    color: var(--text-white);
    background-color: var(--background-lightdark);
    background-image: url("./logo192.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: 120% 25%;
    padding:40px 20px;
}

.main-content ul {
    list-style: none;
}

.main-content ul li::before { 
    content: "\2022";
    color: var(--text-blue);
    font-weight: 900;
    display: inline-block;
    width:1em;
    font-size: 1.5em;

}

.main-content ul li {
    display: flex;
    align-items: baseline;
}